@using MyErp.Resources
 
@inject LocService SharedLocalizer

<form action="Login" method="post">

  <div class="visible">
    <Table>
    <tr>
        <td><label for="UserName"><b>@SharedLocalizer.GetLocalizedHtmlString("Username")</b></label></td>
        <td><input type="text" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnterUsername")" name="UserName" ></td>
    </tr>
    <tr>
        <td><label for="Password"><b>@SharedLocalizer.GetLocalizedHtmlString("Password")</b></label></td>
        <td><input type="password" placeholder="@SharedLocalizer.GetLocalizedHtmlString("EnterPassword")" name="Password" ></td>
    </tr>
    <tr>
        <td><button name = "actionType" value="Login" type="submit">@SharedLocalizer.GetLocalizedHtmlString("LogIn")</button></td>
        <td><button name ="actionType" value="Cancel" type="submit" class="cancelbtn">@SharedLocalizer.GetLocalizedHtmlString("Cancell")</button></td>
    </tr>
  </Table>
  </div>
  <div>
    <Table>
      <tr>
        <td>
          @Html.ActionLink(@SharedLocalizer.GetLocalizedHtmlString("ChangePassword"), "ChLogin")
        </td>
      </tr>  
    </Table>
  </div>
</form>