@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TChart
@using MyErp.Extensions;
@using MyErp.Resources
 
@inject LocService SharedLocalizer
@functions {

    string parqsaction()
    {
        //deja el ultimo parametroa rellenar con el Id de la tabla en el javascript del control grid
        string ret ="/"+Model.CharId.ToString()+"?wrem=";
        return ret;
    }
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "UserChar":
                retur[0]="TOrganiza";
                retur[1]="";            //Edit not enabled
                retur[2]="";            //Create not enabled
                retur[3]="CharEdit";     //delete is remove
                break;
        default:
            break;
        }
        return retur;
    }    
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "UserChar":
                retur.Add(addLine("RcharId","false"));
                retur.Add(addLine("RcharRolId","false"));
                retur.Add(addLine("RcharPerName","false"));
                break;
            default:
                break;
        }
        return retur;
    }

    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "UserChar":
                    retur.Add("UserChar");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Id"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Name"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_UserChar(dynamic oTMaterial)
        {
            IEnumerable<VTChartRol> fTPersonal = (List<VTChartRol>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.RcharId,
                        Campo01 = f.RcharRolId.ToString(),
                        Campo02 = f.RcharPerName.ToString(),
                        Campo03 = "",
                        Campo04 = "",
                        Campo05 = "",
                        Campo06 = "", 
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }



    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible(int mPanel)
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==mPanel)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
private int VAssign(int mPanel){
    int resul = 1;
    try{
    if ((int)ViewData["Assign"]==mPanel)
    {resul=0;}
    }
    catch{}
    return resul;

}


}


<div class=" clearfix position-relative o_form_sheet center">

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("EdChart")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.CharId)
    @Html.ValidationSummary(true)
    <table class="table-edit" >
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowChart",Model)
    </table>
    </div>

@*@Html.Partial("_pmenuChart",Model)*@
<div class="visible">

    <table class="table-norm" border="1">
        <div class="style-data">
            <h3>@SharedLocalizer.GetLocalizedHtmlString("ChartUsers")</h3>
        </div>
        <div class="visible">@*@assVisible()>*@   
            <table>
                <tr>
                    <td class="norm-lab-text">@SharedLocalizer.GetLocalizedHtmlString("SelEmploytoChart")
                    </td>
                    <td class="norm-text">
                        @Html.DropDownList("PerId", (SelectList)ViewBag.ddlPerso, new { @class ="norm-tb-text" , onchange = "this.form.submit();" })
                    </td>
                </tr>
            </table>
        </div>

        @*@Html.ActionLink("Assign a new work Center", "FacEdit", new { id= @Model.CharId,vpanel=1, wrem = 0, wass=1,assign=@VAssign()})*@
        @Html.dataGrid(22,9,@Columns("UserChar"),@getData_UserChar((List<VTChartRol>)ViewBag.ListCharRol),@Controller("UserChar"),@Fields("UserChar"),0,@parqsaction())
    </table>
@*@await Html.PartialAsync("_pListaChartRol",(List<VTChartRol>)ViewBag.ListCharRol)*@
</div>
}
</div>

