@{Layout = "_LyIndex";}
@using MyErp.Models
@using System.Linq;
@using Microsoft.AspNetCore.Mvc.Localization

@using MyErp.Resources
 
@inject LocService SharedLocalizer
@model TOrganizacion
@using (Html.BeginForm()) {
    @Html.HiddenFor(p => p.OrgId)
    @Html.ValidationSummary(true)

    <div class="visible">
    <table>
        <div class="cont-titles">
        <h2>@SharedLocalizer.GetLocalizedHtmlString("OrgData")</h2>
        </div>
        <tr>
            <td>@Html.LabelFor(p => p.OrgCode,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgCode, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgName,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgName, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgNif,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgNif, new { htmlAttributes = new { @class = "norm-text", @style = "width:120px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgNif)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgDate,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgDate,new { htmlAttributes = new { @class = "norm-text"}})</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgCity,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgCity, new { htmlAttributes = new { @class = "norm-text", @style = "width:200px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgCity)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgCtry,new { @class = "norm-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.OrgCtry,
               new SelectList(DataSource.GetCountry(), "Code", "Name"),new { @class = "norm-text" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgAdress,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgAdress, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
            <td>@Html.LabelFor(p => p.OrgEmail,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgEmail, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgAdress)</td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgEmail)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgAdressad,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgAdressad, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
            <td>@Html.LabelFor(p => p.OrgTel,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgTel, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgAdressad)</td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgTel)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.OrgWeb,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.OrgWeb, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.OrgWeb)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel"  name="actionType"/></td>
        </tr>
    </table>
    </div>
}