@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TUser
@using MyErp.Extensions;
@using MyErp.Resources
 
@inject LocService SharedLocalizer
@functions {

    string parqsaction()
    {
        //deja el ultimo parametroa rellenar con el Id de la tabla en el javascript del control grid
        string ret="";
        try{
        ret ="/"+Model.UserId.ToString()+"?wrem=";}
        catch{}
        return ret;
    }
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "RolUsers":
                retur[0]="TOrganiza";
                retur[1]="";            //Edit not enabled
                retur[2]="";            //Create not enabled
                retur[3]="UserEdit";     //delete is remove
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "RolUsers":
                retur.Add(addLine("UsRolId","false"));
                retur.Add(addLine("UsRolName","false"));
                break;
            default:
                break;
        }
        return retur;
    }

    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "RolUsers":
                    retur.Add("RolUsers");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Name"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_RolUsers(dynamic oTMaterial)
        {
            IEnumerable<TUsRol> fTPersonal = (List<TUsRol>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.UsRolId,
                        Campo01 = f.UsRolName.ToString(),
                        Campo02 = "",
                        Campo03 = "",
                        Campo04 = "",
                        Campo05 = "",
                        Campo06 = "", 
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }


    string Coment(){
        string coment="";
        try{
        coment =@SharedLocalizer.GetLocalizedHtmlString((string)ViewData["Coment"]);
        coment = coment +" "+(string)ViewData["NewPw"];
        }catch{}
        return coment;
    }
}
<div class=" clearfix position-relative o_form_sheet center">

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("EdUser")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.UserId)
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @*@Html.Partial("_pshowUser",Model)*@
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @await Html.PartialAsync("_pshowUser",Model)
        <tr>
            <td><label for="resetpw">@SharedLocalizer.GetLocalizedHtmlString("Reset_Pw")</label></td>
            <td><input type="checkbox" id="iresetpw" name="nresetpw" ></td>
        </tr>
        <tr>
            @Coment()
        </tr>
    </table>
    </div>

@*@Html.Partial("_pmenuChart",Model)*@

<div class="visible">

    <table class="table-norm" border="1">
        <div class="style-data">
            <h3>@SharedLocalizer.GetLocalizedHtmlString("RolUsers")</h3>
        </div>
        <div class="visible">@*@assVisible()>*@   
            <table>
                <tr>
                    <td class="norm-lab-text">@SharedLocalizer.GetLocalizedHtmlString("SelRoletoUser")
                    </td>
                    <td class="norm-text">
                        @Html.DropDownList("Code", (SelectList)ViewBag.ddlRole, new { @class ="norm-tb-text" , onchange = "this.form.submit();" })
                   
                    </td>
                </tr>
            </table>
        </div>

        @*@Html.ActionLink("Assign a new work Center", "FacEdit", new { id= @Model.CharId,vpanel=1, wrem = 0, wass=1,assign=@VAssign()})*@
        @Html.dataGrid(23,9,@Columns("RolUsers"),@getData_RolUsers((List<TUsRol>)ViewBag.ListUserRol),@Controller("RolUsers"),@Fields("RolUsers"),0,@parqsaction())
    </table>
@*@await Html.PartialAsync("_pListaUserRol",(List<TUsRol>)ViewBag.ListUserRol)*@
</div>


}
</div>