@using Microsoft.AspNetCore.Builder
@using Microsoft.AspNetCore.Localization
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Options

@inject IViewLocalizer Localizer
@inject IOptions<RequestLocalizationOptions> LocOptions
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    var requestCulture = Context.Features.Get<IRequestCultureFeature>();
    var cultureItems = LocOptions.Value.SupportedUICultures
        .Select(c => new SelectListItem { Value = c.Name, Text = c.DisplayName })
        .ToList();
}

<div class="toast-wrapper mx-auto py-0 fixed-top" role="status" aria-live="polite"></div>

<div id="page-wrapper">

    <div>
    <a class="sr-only sr-only-focusable" href="#maincontent">Skip to main content</a>
</div>
    <div id="page" class="container-fluid mt-0">
        <div id="page-content" class="row">
            <div id="region-main-box" class="col-12">
                <section id="region-main" class="col-12" aria-label="Content">
                    <span class="notifications" id="user-notifications"></span>
                    <div role="main"><span id="maincontent"></span><div class="my-1 my-sm-5"></div>
<div class="row justify-content-center">
<div class="col-xl-6 col-sm-8 ">
<div class="card">
    <div class="card-block">
            <h1 class="h2 card-header text-center" aria-label="Julia High School: Log in">@SharedLocalizer.GetLocalizedHtmlString("Useddltoselect")</h1>
        <div class="card-body">


            <div class="row justify-content-md-center">
                <div class="col-md-5" title="@Localizer["Request culture provider:"] @requestCulture?.Provider?.GetType().Name">
                    <form class="mt-3" method="post" id="selectLanguage" role="form" asp-controller="SetLanguage" asp-action="SetLanguage" asp-route-returnUrl="@Context.Request.Path">
                        <div class="form-group">
                            <label for="username" class="sr-only">@SharedLocalizer.GetLocalizedHtmlString("SelectLang")</label>
                            <div class="input-group">

                                <select class="custom-select" name="culture" asp-for="@requestCulture.RequestCulture.UICulture.Name" asp-items="cultureItems"></select>
                            </div>
                        </div>
                        <div class="form-group">
                        </div>
                            <div class="rememberpass mt-3">
                            </div>
                        <button name = "actionType" value="Login" type="submit" class="btn btn-primary btn-block mt-3" id="loginbtn">@SharedLocalizer.GetLocalizedHtmlString("OK")</button>
                    </form>
                </div>

                <div class="col-md-5">
                    <div class="forgetpass mt-3">
                    </div>

                    <div class="mt-3">
                        <table>
                        <tr>
                            <td>Date</td>
                            <td>
                                @DateTime.Now.ToShortDateString()
                            </td>
                        </tr>
                        <tr>
                            <td>Currency</td>
                            <td>
                                @(12345.00.ToString("c"))
                            </td>
                        </tr>
                        <tr>
                            <td>Number</td>
                            <td>
                                @(123.45m.ToString("F2"))
                            </td>
                        </tr>
                    </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
</div>
</div></div>
                    
                </section>
            </div>
        </div>
    </div>






