@using MyErp.Models
@model TCCplant
<div class="cont-titles">
<h1>Add a New Plant record</h1>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.ValidationSummary(true)

    <table class="table-norm" border ="1">
        <tr>
            <input type="hidden" name="CplantCustId" value="@(((TCustomer)ViewBag.Customer).CustId)"/>
            <td>Customer:</td>
            <td>@(((TCustomer)ViewBag.Customer).CustRasoc)</td>
        </tr>
        <tr>
            <td> </td>
            <td>@(((TCustomer)ViewBag.Customer).CustNif)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantCode,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplantCode, new { htmlAttributes = new { @class = "norm-text", @style = "width:120px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantDeno,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplantDeno, new { htmlAttributes = new { @class = "norm-text", @style = "width:420px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantDeno)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantAdStrt,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplantAdStrt, new { htmlAttributes = new { @class = "norm-text", @style = "width:420px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantAdStrt)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplantAdCity,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplantAdCity, new { htmlAttributes = new { @class = "norm-text", @style = "width:220px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantAdCity)</td>
        </tr>        
        <tr>
            <td>Pais</td>
            <td>
                @Html.DropDownListFor(p => p.CplantAdCtry,
               new SelectList(DataSource.GetCountry(), "Code", "Name"),new { @class = "norm-text" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Add"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
}