@using MyErp.Models
@model TCCplant
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayCus";
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("EditPlantRecord")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.CplantId)
    @Html.HiddenFor(p => p.CplantCustId)

    @Html.ValidationSummary(true)

    <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        @*
        <tr>
            <input type="hidden" name="CplantCustId" value="@(((TCustomer)ViewBag.Customer).CustId)"/>
            <td>Customer:</td>
            <td>@(((TCustomer)ViewBag.Customer).CustRasoc)</td>
        </tr>
        <tr>
            <td> </td>
            <td>@(((TCustomer)ViewBag.Customer).CustNif)</td>
        </tr>
        *@
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantCode,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplantCode, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:120px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantCode)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantDeno,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplantDeno, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:420px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantDeno)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantAdStrt,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplantAdStrt, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:420px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantAdStrt)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplantAdCity,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplantAdCity, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:220px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplantAdCity)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplantAdCtry,new { @class = "norm-lab-text",})</td>
            <td>
                @Html.DropDownListFor(p => p.CplantAdCtry,
               new SelectList(DataSource.GetCountry(), "Code", "Name"),new { @class = "norm-tb-text" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplantTruckId,new { @class = "norm-lab-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.CplantTruckId,(SelectList)ViewBag.ddlTruckX,"",new { @class = "norm-tb-text"  })
            </td>
            <td>@Html.ValidationMessageFor(p => p.CplantTruckId)</td>
        </tr>
    </table>
    </div>
}