@using MyErp.Models
@model TCCplanning
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayCus";
}
@functions {
    int CustId(){
        return ((TCustomer)ViewBag.Customer).CustId;
    }
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
    int? Produc(){
        int? retcol = (int?)ViewData["cProd"];
        return retcol;
    }
    string allPP(){
        string ret = "false";
        try{
            ret = ViewData["Allpp"].ToString();
        }
        catch(Exception ex) {
            string mensaje = ex.Message;
            }
        return ret;
    }
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("EditPlanningRecord")</h3>
</div>
@using (Html.BeginForm()) {
<div class="div-edit">
    @Html.HiddenFor(p => p.CplanId)
    @Html.HiddenFor(p => p.CplanCustId)
    @Html.HiddenFor(p => p.CplanTruckId)
    @Html.ValidationSummary(true)
    <table class="table-edit">
        @*
        <tr>
            <td>Customer :</td>
            <td>@(((TCustomer)ViewBag.Customer).CustRasoc)</td>
            <td> Nif:</td>
            <td>@(((TCustomer)ViewBag.Customer).CustNif)</td>
        </tr>
        *@
        <input id="sallpprods" name ="sallpprods" type="hidden" value=@allPP()>
        <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td>@Html.LabelFor(p => p.CplanCplantId,new { @class = "norm-lab-text",})</td>
            <td>
                @*
                @Html.DropDownListFor(p=> p.CplanCplantId, (SelectList)ViewBag.ddlPlantVB, new { @class ="norm-text" , onchange = "this.form.submit();" })
                *@
                @*@Html.DropDownList("CplantId", (SelectList)ViewBag.ddlPlantVB, new { @class ="norm-tb-text" , onchange = "this.form.submit();" })*@
                @Html.DropDownListFor( p => p.CplanCplantId, (SelectList)ViewBag.ddlPlantVB, new { @class ="norm-tb-text" , onchange = "this.form.submit();" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplanCprodId,new { @class = "norm-lab-text",})</td>
            <td>
                @*
                @Html.DropDownListFor(p=> p.CplanCprodId, (SelectList)ViewBag.ddlReferVO, new { @class ="norm-text"  , onchange = "this.form.submit();"  })
                *@
                @*@Html.DropDownList("CprodId", (SelectList)ViewBag.ddlReferVO, new { @class ="norm-tb-text"  , onchange = "this.form.submit();"  })*@
                @Html.DropDownListFor(p => p.CplanCprodId, (SelectList)ViewBag.ddlReferVO, new { @class ="norm-tb-text"  , onchange = "this.form.submit();"  })
            </td>
        </tr>
        </table>
        <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CplanDateFrom,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplanDateFrom, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
            <td>@Html.ValidationMessageFor(p => p.CplanDateFrom)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplanDateTo,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplanDateTo, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
            <td>@Html.ValidationMessageFor(p => p.CplanDateTo)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplanQty,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplanQty, new { htmlAttributes = new { @class = "norm-tb-num", @style = "width:120px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplanQty)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplanUemb,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplanUemb, new { htmlAttributes = new { @class = "norm-tb-num", @style = "width:120px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplanUemb)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CplanFirmSt,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CplanFirmSt, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:150px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CplanFirmSt)</td>
        </tr>        
        </table>
    </table>
 </div>
}