@using MyErp.Models
@model TCPorder
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayCus";
}
@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("AddPORecord")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.ValidationSummary(true)
    <div class ="invisible">
        <tr>
            <input type="hidden" name="CpocustId" value="@(((TCustomer)ViewBag.Customer).CustId)"/>
            @*<input type="hidden" name="CpocplantId" value="@Planta()"/>*@
            <td>@SharedLocalizer.GetLocalizedHtmlString("Customer"):</td>
            <td>@(((TCustomer)ViewBag.Customer).CustRasoc)</td>
        </tr>
    </div>
    @*
    <div class ="visible">
        <tr>
            <td>Custome:</td>
            <td>@(((TCustomer)ViewBag.Customer).CustRasoc)</td>
            <td> </td>
            <td>@(((TCustomer)ViewBag.Customer).CustNif)</td>
        </tr>
    </div>
    *@
    <div class ="div-edit">
        <tr>
            @using (Html.BeginForm("Edit","TCustomer",FormMethod.Post)) {        
            <div class ="div-edit">
            <td>@Html.LabelFor(p => p.CpocplantId,new { @class = "norm-lab-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.CpocplantId,(SelectList)ViewBag.ddlPlantVB,"",new { @class = "norm-tb-text" })
           
            </td>
            </div>
            }
        </tr>
    </div>

    <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Cpopo,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.Cpopo, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:150px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.Cpopo)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Cpodate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.Cpodate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
            <td>@Html.ValidationMessageFor(p => p.Cpodate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CporeferEx,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CporeferEx, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:170px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CporeferEx)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CpodescEx,new { @class = "norm-lab-text" })</td>
            <td>@Html.EditorFor(p => p.CpodescEx, new { htmlAttributes = new { @class = "norm-tb-text" , @style = "width:450px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CpodescEx)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CpocprodId,new { @class = "norm-lab-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.CpocprodId,(SelectList)ViewBag.ddlReferVD,"",new { @class = "norm-tb-text" })
                <td>@Html.ValidationMessageFor(p => p.CpocprodId)</td>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Cpoprice,new { @class = "norm-lab-text" })</td>
            <td>@Html.EditorFor(p => p.Cpoprice, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:90px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.Cpoprice)</td>
        </tr>        
        <tr>        
            <td>@Html.LabelFor(p => p.Cpocurcy,new { @class = "norm-lab-text" })</td>
            <td>
                @Html.DropDownListFor(p => p.Cpocurcy,
               new SelectList(DataSource.GetCurrency(), "Code", "Name"),new { @class = "norm-tb-text" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.Cpostatus,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.Cpostatus, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:170px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.Cpostatus)</td>
            <input type="hidden" name="CpocustId" value="@(((TCustomer)ViewBag.Customer).CustId)"/>
            <input type="hidden" name="CpocplantId" value="@Planta()"/>
        </tr>
    </table>
    </div>
}
