@using MyErp.Models
@model TCCproduct
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayCus";
}
@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("AddProdRecord")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CprodMatInt,new { @class = "norm-lab-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.CprodMatInt,(SelectList)ViewBag.ddlMatCOM,"",new { @class = "norm-tb-text" })
                <td>@Html.ValidationMessageFor(p => p.CprodMatInt)</td>
            </td>

        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CprodCrDate,new { @class = "norm-lab-text" })</td>
            <td>@Html.EditorFor(p => p.CprodCrDate, new { htmlAttributes = new { @class = "norm-tb-text" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CprodCrDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CprodStatus,new { @class = "norm-lab-text" })</td>
            <td>@Html.EditorFor(p => p.CprodStatus, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:90px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CprodStatus)</td>
            <input type="hidden" name="CProdCustId" value="@(((TCustomer)ViewBag.Customer).CustId)"/>
            <input type="hidden" name="CProdCPlantId" value="@Planta()"/>
        </tr>        
    </table>
    </div>
}