@using MyErp.Models
@model TPCareer
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("CareerEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.CareId)
    @Html.HiddenFor(p => p.CarePerId)
    @Html.ValidationSummary(true)
    @*
    <table class="table-norm" border ="1">
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name")</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
        </tr>
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Surnames")</td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>
    </table>
    *@
    <table class="table-edit" >
        <hr style="width:100%;text-align:left;margin-left:0">
       <tr>
            <td>
            <input type="submit" value="Update" class="dropbtn" name="actionType"/>
            <input type="submit" value="Cancel" class="dropbtn" name="actionType"/>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CareDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CareDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.CareDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CarePosit,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CarePosit, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:125px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.CarePosit)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CareObser,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.CareObser, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:425px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.CareObser)</td>
        </tr>
    </table>
    </div>
}