@using MyErp.Models
@model TPContract
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("ContractCreate")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.ValidationSummary(true)
    @*
    <table class="table-norm" border="1">
        <tr>
            <input type="hidden" name="ConPerId" value="@(((TPerson)ViewBag.Person).PerId)"/>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name")</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
        </tr>
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Surnames")</td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>
    </table>
    *@
    <table class="table-edit" >
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td>
            <input type="submit" value="Add" class="dropbtn" name="actionType"/>
            <input type="submit" value="Cancel" class="dropbtn" name="actionType"/>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ConRevDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ConRevDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ConRevDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ConObs,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ConObs, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:455px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ConObs)</td>
            <input type="hidden" name="ConPerId" value="@(((TPerson)ViewBag.Person).PerId)"/>
        </tr>
    </table>
    </div>
}