@using MyErp.Models
@model TPCurric
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("CurriculumCreate")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.ValidationSummary(true)
    @*
    <div class ="div-bold">
        <tr>
            <input type="hidden" name="CurrPerId" value="@(((TPerson)ViewBag.Person).PerId)"/>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name") :</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
            <td> </td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>    
    </div>
    *@
    <table class="table-norm" border ="1">
        <tr>
            <td>@Html.LabelFor(p => p.CurrRevDate, new { htmlAttributes = new { @class = "norm-text"} })</td>
            <td>@Html.EditorFor(p => p.CurrRevDate, new { htmlAttributes = new { @class = "norm-text"} })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrRevDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CurrArea, new { htmlAttributes = new { @class = "norm-text", @style = "width:110px" } })</td>
            <td>@Html.EditorFor(p => p.CurrArea, new { htmlAttributes = new { @class = "norm-text", @style = "width:110px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrArea)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CurrAreaDesc, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px" } })</td>
            <td>@Html.EditorFor(p => p.CurrAreaDesc, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrAreaDesc)</td>

        </tr>        
        <tr>
            <!--string DisplayName = test.GetDisplayName(t => t.Name);-->
            <td>@Html.LabelFor(p=> p.CurrAreaLevel, new { htmlAttributes = new { @class = "norm-level"} })</td>
            <td>@Html.EditorFor(p => p.CurrAreaLevel, new { htmlAttributes = new { @class = "norm-text", @style = "width:50px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrAreaLevel)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CurrObs, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px" } })</td>
            <td>@Html.EditorFor(p => p.CurrObs, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrObs)</td>
            <input type="hidden" name="CurrPerId" value="@(((TPerson)ViewBag.Person).PerId)"/>
        </tr>        
        <tr>
            <td></td>
            <td><input type="submit" value="Add"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>

        </tr>
    </table>
    </div>
}