@using MyErp.Models
@model TPCurric
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("CurriculumEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.ValidationSummary(true)
    @Html.HiddenFor(p => p.CurrId)
    @Html.HiddenFor(p => p.CurrPerId)
    @*
    <div class ="div-bold">
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name") :</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
            <td> </td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>    
    </div>
    *@
    <table class="table-edit" border ="0">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td>
            <input type="submit" value="Update"  class="dropbtn" name="actionType"/>
            <input type="submit" value="Cancel" class="dropbtn" name="actionType"/>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CurrRevDate, new { htmlAttributes = new { @class = "norm-lab-text"} })</td>
            <td>@Html.EditorFor(p => p.CurrRevDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrRevDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.CurrArea, new { htmlAttributes = new { @class = "norm-lab-text", @style = "width:110px" } })</td>
            <td>@Html.EditorFor(p => p.CurrArea, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:110px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrArea)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CurrAreaDesc, new { htmlAttributes = new { @class = "norm-lab-text", @style = "width:300px" } })</td>
            <td>@Html.EditorFor(p => p.CurrAreaDesc, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:300px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrAreaDesc)</td>

        </tr>        
        <tr>
            <!--string DisplayName = test.GetDisplayName(t => t.Name);-->
            <td>@Html.LabelFor(p=> p.CurrAreaLevel, new { htmlAttributes = new { @class = "norm-lab-level"} })</td>
            <td>@Html.EditorFor(p => p.CurrAreaLevel, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:50px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrAreaLevel)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.CurrObs, new { htmlAttributes = new { @class = "norm-lab-text", @style = "width:300px" } })</td>
            <td>@Html.EditorFor(p => p.CurrObs, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:300px" } })</td>
            <td>@Html.ValidationMessageFor(p => p.CurrObs)</td>
        </tr>        
    </table>
    </div>
}