@using MyErp.Models
@using System.Linq;
@using Microsoft.AspNetCore.Mvc.Localization

@using MyErp.Resources
 
@inject LocService SharedLocalizer
@model TPerson
@using (Html.BeginForm()) {
    @Html.HiddenFor(p => p.PerId)
    @Html.ValidationSummary(true)
@functions {
    string panelBold(int panel)
    {            
        int tpan = (int)ViewData["panel"];
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    int thisPanel(){
         int opanel = (int)ViewData["panel"];
         return opanel;
    }
}
@section Styles
{

}

<h1>@SharedLocalizer.GetLocalizedHtmlString("EditPerson")</h1>
@using (Html.BeginForm()) {
    <div class="visible">
    <table>
        <div class="cont-titles">
        <h2>@SharedLocalizer.GetLocalizedHtmlString("PersonData")</h2>
        </div>
        <tr>
            <td>@Html.LabelFor(p => p.PerName,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerName, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerName)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerName1,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerName1, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerName1)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerDni,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerDni, new { htmlAttributes = new { @class = "norm-text", @style = "width:120px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerDni)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerBird,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerBird, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerBird)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerBiCity,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerBiCity, new { htmlAttributes = new { @class = "norm-text", @style = "width:200px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerBiCity)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerBiCtry,new { @class = "norm-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.PerBiCtry,
               new SelectList(DataSource.GetCountry(), "Code", "Name"),new { @class = "norm-text" })
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerAddr,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerAddr, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
            <td>@Html.LabelFor(p => p.PerContDate,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerContDate, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerAddr)</td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerContDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerAddr1,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerAddr1, new { htmlAttributes = new { @class = "norm-text", @style = "width:300px"} })</td>
            <td>@Html.LabelFor(p => p.PerEntDate,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerEntDate, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerAddr1)</td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerContDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PerAddCtry,new { @class = "norm-text",})</td>
            <td class="norm-text">
                @Html.DropDownListFor(p => p.PerAddCtry,
               new SelectList(DataSource.GetCountry(), "Code", "Name"),new { @class = "norm-text" })
            </td>
            <td>@Html.LabelFor(p => p.PerExiDate,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.PerExiDate, new { htmlAttributes = new { @class = "norm-text"} })</td>
        </tr>        
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerAddCtry)</td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PerExiDate)</td>
        </tr>
        <tr>
            <td></td>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel"  name="actionType"/></td>
        </tr>
    </table>
    </div>
}
}




