@using MyErp.Models
@model TPReview
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("ObjectiveReviewEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.RevId)
    @Html.HiddenFor(p => p.RevPerId)
    @Html.ValidationSummary(true)
    @*
    <table class="table-norm" border="1">
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name") :</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
            <td> </td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>
    </table>
    *@
    <table class="table-edit" border="0">
        <hr style="width:100%;text-align:left;margin-left:0">
       <tr>
            <td>
            <input type="submit" value="Update" class="dropbtn" name="actionType"/>
            <input type="submit" value="Cancel" class="dropbtn" name="actionType"/>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.RevDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.RevDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.RevDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.RevObj,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.RevObj, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:425px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.RevObj)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.RevObRat,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.RevObRat, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:125px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.RevObRat)</td>
        </tr>
    </table>
    </div>
}