@using MyErp.Models
@model TPTrain
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LayPer";
}

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("TrainingEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.TrainId)
    @Html.HiddenFor(p => p.TrainPerId)
    @Html.ValidationSummary(true)
    @*
    <table class="table-norm" border="1">
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Name") :</td>
            <td>@(((TPerson)ViewBag.Person).PerName)</td>
            <td> </td>
            <td>@(((TPerson)ViewBag.Person).PerName1)</td>
        </tr>
    </table>
    *@
    <table class="table-edit" border="0">
        <hr style="width:100%;text-align:left;margin-left:0">
       <tr>
            <td>
            <input type="submit" value="Update"  class="dropbtn" name="actionType"/>
            <input type="submit" value="Cancel" class="dropbtn" name="actionType"/>
            </td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.TrainDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.TrainDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.TrainDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.TrainArea,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.TrainArea, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:125px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.TrainArea)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.TrainCourse,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.TrainCourse, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:125px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.TrainCourse)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.TrainCalif,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.TrainCalif, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:175px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.TrainCalif)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.TrainObser,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.TrainObser, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:450px"} })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.TrainObser)</td>
        </tr>
    </table>
    </div>
}