@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
    string panelBold(int panel)
    {          
        int tpan = (int)ViewData["panel"];
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    int thisPanel(){
         int opanel = (int)ViewData["panel"];
         return opanel;
    }

    string myformat(double? value){
    string ret =string.Format("{0:C2}", value);
    return ret;
}
    string mycolor(double? value){
    string retcol="red-number";
    if (value >=0 ){
        retcol="blue-number";}
    return retcol;
    }
    string colcolor(int item){
    string retcol="col-text";
    if (item==0)
    {
        retcol="botcol-text";
    }
    return retcol;
    }
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    string fValue (int valor){
        string ret1="";
        if (valor ==1){
        try{
            ret1 = (string)ViewData["Fil1"];
        }
        catch{}
        }
        else{
        try{
            ret1 = (string)ViewData["Fil2"];
        }
        catch{}
        }
        return ret1;
    }
}
@section Styles
{

}
@*
    <script>
    function opengMnu() {
        if (document.getElementById("engMenu").style.display!= "block"){
        document.getElementById("engMenu").style.display= "block" ;}
        else {
        document.getElementById("engMenu").style.display= "none" ;}
    }
    </script>
*@
<h3>@ViewData["Title"]</h3>
<!--
<div class = "cont-titles">
<h2>X Customers Table</h2>   
</div>
<td><a class="nav-link text-dark" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-filter ="1" asp-route-pNam="" asp-route-pNam1="">Filter</a></td>
-->
<div class="visible">
    @using (Html.BeginForm()) {
    <table>
        <div class="cont-titles-l">
        @*<h2>>>@Html.DisplayFor(p => p.CustRaSoc)  @Html.DisplayFor(p => p.CustNif)</h2> *@
        </div>
        <table>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container-fluid">
                <img id="image" src="/MyERP_Logo.jpg" onclick="opengMnu()"width="30pt" height="30pt">
                <div id ="engMenu" name="MyOwnMenu" class="o-dropdown--menu dropdown-menu dx-none o-popper-position o-popper-position--bs" style="top: 46px; left: 0px;">
                    <a class="dropdown-item o_app" style="@panelBold(1)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="1" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Facilities")</a>
                    <a class="dropdown-item o_app" style="@panelBold(2)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="2" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("WorkCenters")</a>
                    <a class="dropdown-item o_app" style="@panelBold(3)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="3" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("WCComponents")</a>
                    <a class="dropdown-item o_app"  style="@panelBold(4)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="4" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Materials")</a>
                    <a class="dropdown-item o_app"  style="@panelBold(5)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="5" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Locations")</a>
                    <a class="dropdown-item o_app"  style="@panelBold(6)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="6" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("OperatorRoles")</a>
                    <a class="dropdown-item o_app"  style="@panelBold(7)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="7" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Trucks")</a>
                </div>
            </div>
        </nav>
        @*
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(1)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="1" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Facilities")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(2)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="2" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("WorkCenters")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(3)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="3" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("WCComponents")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(4)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="4" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Materials")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(5)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="5" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Locations")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(6)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="6" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("OperatorRoles")</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(7)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="7" asp-route-move="0">@SharedLocalizer.GetLocalizedHtmlString("Trucks")</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
        *@
        </table>
    </table>
    
@RenderBody()
}
</div>
