@model List<TFacility>
@using MyErp.Resources
@inject LocService SharedLocalizer

    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>@SharedLocalizer.GetLocalizedHtmlString("FacilitiesData")</h2>
    </div>
    <tr>
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("FCode")</th> 
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("FDescr")</th>                
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("FType")</th>        
    </tr>
   
    @foreach (var c in Model) {
        <tr>
            <td class ="col-text">@c.FaCode</td>            
            <td class ="big-text">@c.FaDescr</td>
            <td class ="norm-text">@c.FaType</td>
            <td class="col-text">@Html.ActionLink("Delete", "FacDelete", new { id = c.FaId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "FacEdit", new { id = c.FaId ,panel=1,vpanel=1})</td>
            
        </tr>
    }
    </table>
    @Html.ActionLink("Add a New Item", "FacCreate")

