@model List<TLocation>
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions{
    string fValue (int valor){
        string ret1="";
        if (valor ==1){
        try{
            ret1 = (string)ViewData["Fil1"];
        }
        catch{}
        }
        else{
        try{
            ret1 = (string)ViewData["Fil2"];
        }
        catch{}
        }
        return ret1;
    }
    }
    @using (Html.BeginForm("Index","TEngine",FormMethod.Post)) {        
    <table>
            <td>
                <input type="hidden" name="panel" value="5"/>
            </td>

            <td class="medium-text">@SharedLocalizer.GetLocalizedHtmlString("Facility") :</td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("FaId", (SelectList)ViewBag.ddlPlantVB, new { @class ="medium-text" , onchange = "this.form.submit();" })
            </td>
    </table>
    <tr>
        <input type="hidden" name="panel" value="5"/>
        <input type="hidden" name="Filter" value="2"/>
        <td>@SharedLocalizer.GetLocalizedHtmlString("FilterByCode")</td>
        <td class ="norm-text"><input value ="@fValue(1)" class="norm-text" id="pNam" name="pNam" type="text"></input></td>
        <td> @SharedLocalizer.GetLocalizedHtmlString("FilterByDesc")</td>
        <td class ="norm-text"><input value="@fValue(2)" class ="norm-text" id="pNam1" name="pNam1" type="text"></input></td>
        <td><input type="submit" value="Filter"  name="actionType"/></td>
        <td><input type="submit" value="Cancel" name="actionType"/></td>
    </tr>

    }


   <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>@SharedLocalizer.GetLocalizedHtmlString("LocationsData")</h2>
    </div>
    <tr>
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("LocCode")</th> 
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("LocDescr")</th>                
        <th class="head-text">@SharedLocalizer.GetLocalizedHtmlString("LocType")</th>        
    </tr>
   
    @foreach (var c in Model) {
        <tr>
            <td class ="col-text">@c.LocCode</td>            
            <td class ="big-text">@c.LocDescr</td>
            <td class ="norm-text">@c.LocType</td>
            <td class="col-text">@Html.ActionLink("Delete", "LoDelete", new { id = c.LocId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "LoEdit", new { id = c.LocId ,panel=5})</td>
            
        </tr>
    }
</table>
@Html.ActionLink("Add a New Item", "LoCreate")
<