@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model VTMComponent
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
}
<div class=" clearfix position-relative o_form_sheet center">

@{ViewData["MatId"]=@Model.CoRefId;}
@Html.Partial("_pmenuMat_com")
@Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatCompCreate")</h3>
</div>
@using (Html.BeginForm(new{id = Model.CoRefId})) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit" >
         <tr>
            <td><input type="submit" class="dropbtn"value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowCMaterials",Model)
    </table>
    </div>
}
</div>