@{Layout = "_LyIndex";}
@using MyErp.Models
@model TFacility
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible()
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==1)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
private int VAssign(){
    int resul = 1;
    try{
    if ((int)ViewData["Assign"]==1)
    {resul=0;}
    }
    catch{}
    return resul;
}
}
<div class="cont-titles">
<h1>Edit a Facility record</h1>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.FaId)
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowFacilities",Model)
        <tr>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>

<!--Work Centers-->
    <div class=visible>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Work Centers Asigned</h2>
    </div>
    @Html.Partial("_pListaWorkCenters",(List<TWorkCenter>)ViewBag.ListProdAs)
</table>
@Html.ActionLink("Assign a new work Center", "FacEdit", new { id= @Model.FaId, wrem = 0, wass=0,assign=@VAssign()})</div>
<div class=@assVisible()>
    <table>
        <tr>
            @using (Html.BeginForm("FacEdit","TEngine", new { id= @Model.FaId, wrem = 0, wass=1},FormMethod.Post)) {        
            <td>Work Center to assign
            <input type="hidden" name="wass" value="1"/>
            </td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("WcfaId", (SelectList)ViewBag.ddlProdNAS, new { @class ="medium-text" , onchange = "this.form.submit();" })
            </td>
            }
        </tr>
    </table>
</div>

}