@{Layout = "_LyIndex";}
@using MyErp.Models
@model TFacility
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["vpanel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible()
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==1)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }

string aslVisible()
{
    string retcol="invisible";
    try{
    if ((int)ViewData["LAssign"]==1)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }

private int VAssign(){
    int resul = 1;
    try{
    if ((int)ViewData["Assign"]==1)
    {resul=0;}
    }
    catch{}
    return resul;
}
private int LAssign(){
    int resul = 1;
    try{
    if ((int)ViewData["LAssign"]==1)
    {resul=0;}
    }
    catch{}
    return resul;
}

}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("FEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.FaId)
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowFacilities",Model)
        <tr>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>

@Html.Partial("_pmenuFac",Model)

<!--Work Centers-->
<div class=@isVisible(1)>
<table class="table-norm" border="1">
    <div class="cont-titles">
    <h3>@SharedLocalizer.GetLocalizedHtmlString("FWCAss")</h3>
    </div>
    @Html.Partial("_pListaWorkCenters",(List<TWorkCenter>)ViewBag.ListProdAs)
</table>
@Html.ActionLink("Assign a new work Center", "FacEdit", new { id= @Model.FaId,vpanel=1, wrem = 0, wass=0,assign=@VAssign()})</div>
<div class=@assVisible()>
    <table>
        <tr>
            @using (Html.BeginForm("FacEdit","TEngine", new { id= @Model.FaId,vpanel=1, wrem = 0, wass=1},FormMethod.Post)) {        
            <td>@SharedLocalizer.GetLocalizedHtmlString("FWCtoAss")
            <input type="hidden" name="wass" value="1"/>
            </td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("WcdId", (SelectList)ViewBag.ddlProdNAS, new { @class ="medium-text" , onchange = "this.form.submit();" })
            </td>
            }
        </tr>
    </table>
</div>



<!--Locations-->
<div class=@isVisible(2)>
<table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>@SharedLocalizer.GetLocalizedHtmlString("FStAss")</h2>
    </div>
    @Html.Partial("_pListaStorages",(List<TLocation>)ViewBag.ListStorAs)
</table>
@Html.ActionLink("Assign a new Location", "FacEdit", new { id= @Model.FaId, wrel = 0,vpanel=2, wasl=0,assigl=@LAssign()})</div>
<div class=@aslVisible()>
    <table>
        <tr>
            @using (Html.BeginForm("FacEdit","TEngine", new { id= @Model.FaId, wrel = 0,vpanel=2, wasl=1},FormMethod.Post)) {        
            <td>@SharedLocalizer.GetLocalizedHtmlString("FLotoAss")
            <input type="hidden" name="wasl" value="1"/>
            </td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("LocId", (SelectList)ViewBag.ddlLocNAS, new { @class ="medium-text" , onchange = "this.form.submit();" })
            </td>
            }
        </tr>
    </table>
</div>

}