@using MyErp.Models
@using System.Linq;
@*@model TPerson *@
@{
    ViewData["Title"] = "Engineering Area Index Page";
}
@functions {
    string panelBold(int panel)
    {          
        int tpan = (int)ViewData["panel"];
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    int thisPanel(){
         int opanel = (int)ViewData["panel"];
         return opanel;
    }

    string myformat(double? value){
    string ret =string.Format("{0:C2}", value);
    return ret;
}
    string mycolor(double? value){
    string retcol="red-number";
    if (value >=0 ){
        retcol="blue-number";}
    return retcol;
    }
    string colcolor(int item){
    string retcol="col-text";
    if (item==0)
    {
        retcol="botcol-text";
    }
    return retcol;
    }
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    string fValue (int valor){
        string ret1="";
        if (valor ==1){
        try{
            ret1 = (string)ViewData["Fil1"];
        }
        catch{}
        }
        else{
        try{
            ret1 = (string)ViewData["Fil2"];
        }
        catch{}
        }
        return ret1;
    }
}
@section Styles
{

}

<h1>@ViewData["Title"]</h1>
<!--
<div class = "cont-titles">
<h2>X Customers Table</h2>   
</div>
<td><a class="nav-link text-dark" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-filter ="1" asp-route-pNam="" asp-route-pNam1="">Filter</a></td>
-->
<div class="visible">
    @using (Html.BeginForm()) {
    <table>
        <div class="cont-titles-l">
        @*<h2>>>@Html.DisplayFor(p => p.CustRaSoc)  @Html.DisplayFor(p => p.CustNif)</h2> *@
        </div>
        <table>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(1)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="1" asp-route-move="0">Facilities</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(2)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="2" asp-route-move="0">Work Centers</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(3)"asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="3" asp-route-move="0">W-C Components</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(4)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="4" asp-route-move="0">Materials</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(5)" asp-area="" asp-controller="TEngine" asp-action="Index" asp-route-id="" asp-route-panel="5" asp-route-move="0">Operator Roles</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
        </table>
    </table>
    
    <!--Facilities-->
    <div class=@isVisible(1)>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Facilities Data</h2>
    </div>
    <tr>
        <th class="head-text">Code</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Type</th>        
    </tr>
   
    @foreach (var c in ViewBag.ListFA) {
        <tr>
            <td class ="col-text">@c.FaCode</td>            
            <td class ="big-text">@c.FaDescr</td>
            <td class ="norm-text">@c.FaType</td>
            <td class="col-text">@Html.ActionLink("Delete", "FacDelete", new { id = c.FaId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "FacEdit", new { id = c.FaId ,panel=1})</td>
            
        </tr>
    }
</table>
@Html.ActionLink("Add a New Item", "FacCreate")
</div>

    <!--Work Centers-->
    <div class=@isVisible(2)>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Work Centers Data</h2>
    </div>
    <tr>
        <th class="head-text">Code</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Type</th>        
    </tr>
   
    @foreach (var c in ViewBag.ListProd) {
        <tr>
            <td class ="col-text">@c.Wccode</td>            
            <td class ="big-text">@c.Wcdescr</td>
            <td class ="norm-text">@c.Wctype</td>
            <td class="col-text">@Html.ActionLink("Delete", "WCeDelete", new { id = c.WcdId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "WCeEdit", new { id = c.WcdId ,panel=2})</td>
            
        </tr>
    }
</table>
@Html.ActionLink("Add a New Item", "WCeCreate")
</div>

    <!--Work Centers Components-->
    <div class=@isVisible(3)>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Work Centers-Components Data</h2>
    </div>
    <tr>
        <th class="head-text">Code</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Type</th>        
    </tr>
   
    @foreach (var c in ViewBag.ListPO) {
        <tr>
            <td class ="col-text">@c.WcoCode</td>            
            <td class ="big-text">@c.WcoDescr</td>
            <td class ="norm-text">@c.WcoType</td>
            <td class="col-text">@Html.ActionLink("Delete", "WCoDelete", new { id = c.WcoId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "WCoEdit", new { id = c.WcoId ,panel=2})</td>
            
        </tr>
    }
</table>
@Html.ActionLink("Add a New Item", "WCoCreate")
</div>


}
</div>
