@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model VTMLocation
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
}
@{ViewData["MatId"]=@Model.LoRefId;}
@Html.Partial("_pmenuMat_com")
@Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatLocEdit")</h3>
</div>
@using (Html.BeginForm(new{Mid = Model.LoRefId})) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
         <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowLMaterials",Model)
    </table>
    </div>
}