@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TLocation
@using MyErp.Extensions;
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {

    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "MatLocal":
                retur[0]="TEngine";
                retur[1]="";  //LMatEdit
                retur[2]="";//LMatCreate
                retur[3]="";//LMatDelete
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "MatLocal":
                retur.Add(addLine("LoLoId","false"));
                retur.Add(addLine("CampoKy","false"));
                retur.Add(addLine("LoRefRe","false"));
                retur.Add(addLine("LoRefDes","true"));
                retur.Add(addLine("LoRefSt","false"));
                retur.Add(addLine("LoRefUM","false"));
                break;
            default:
                break;
        }
        return retur;
    }

    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "MatLocal":
                    retur.Add("MatRoute");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Refer"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Descr"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Stock"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UMed"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_MatLocal(dynamic oTMaterial)
        {
            IEnumerable<VTMLocation> fTPersonal = (List<VTMLocation>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.LoLoId,
                        CampoKy = f.LoLoId,
                        Campo01 = f.LoRefRe.ToString(),
                        Campo02 = f.LoRefDes.ToString(),
                        Campo03 = f.LoRefSt.ToString(),
                        Campo04 = f.LoRefUM.ToString(),
                        Campo05 = "",
                        Campo06 = "",
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }




    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible()
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==1)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
private int VAssign(){
    int resul = 1;
    try{
    if ((int)ViewData["Assign"]==1)
    {resul=0;}
    }
    catch{}
    return resul;

}


}
<div class=" clearfix position-relative o_form_sheet center">

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("LocEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.LocId)
    @Html.ValidationSummary(true)
    <table class="table-edit">
         <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowLocations",Model)
    </table>
    </div>

    <div class="Visible">
        <table class="table-edit" border="1">
            <div class="cont-titles">
                <h3 class="style-data">@SharedLocalizer.GetLocalizedHtmlString("MatInStorLoc") @Model.LocDescr</h3>
            </div>
            <div  class="_container" name="aqui-el-control-grid-3">
                @Html.dataGrid(38,9,@Columns("MatLocal"),@getData_MatLocal((List<VTMLocation>)ViewBag.ListLocMate),@Controller("MatLocal"),@Fields("MatLocal"),Model.LocId)
            </div>
        </table>
    </div>





}
</div>