@*@{Layout = "_LyIndex";}*@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@using MyErp.Extensions;
@inject LocService SharedLocalizer
@functions {
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "MatBom":
                retur[0]="TEngine";
                retur[1]="MatEdit";        //agoste 2023 --- MatEdit https://localhost:5001/TEngine/MatEdit/2?panel=2&move=0   ------No edit MatEdit
                                           //https://localhost:5001/TEngine/MatEdit/37?panel=4&move=0
                retur[2]="";        //No create
                retur[3]="";        //no delete
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "MatBom":
                retur.Add(addLine("ExpId","false"));
                retur.Add(addLine("CampoKy","false"));
                retur.Add(addLine("ExpsLevel","false"));
                retur.Add(addLine("ExpRefer","true"));
                retur.Add(addLine("ExpDescr","false"));
                retur.Add(addLine("ExpCoef","false"));
                retur.Add(addLine("ExpUm","false"));
                retur.Add(addLine("ExpRouFase","false"));
                retur.Add(addLine("ExpRouOper","false"));
                retur.Add(addLine("ExpRouTime","false"));
                retur.Add(addLine("ExpRouTunit","false"));
                retur.Add(addLine("WCCode","false"));
                break;
            default:
                break;
        }
        return retur;
    }
    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "MatBom":
                    retur.Add("MatBom");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Level"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Refer"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Decsr<"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Coef"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UM"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Fase"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Oper"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Time"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UnitT"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("WCent"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_MatBom(dynamic oTMaterial)
        {
            IEnumerable<TExplosionB> fTPersonal = (List<TExplosionB>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.ExpId,
                        CampoKy = f.ExpComp,
                        Campo01 = f.ExpsLevel.ToString(),
                        Campo02 = f.ExpRefer.ToString(),
                        Campo03 = f.ExpDescr.ToString(),
                        Campo04 = f.ExpCoef.ToString(),
                        Campo05 = f.ExpUm.ToString(),
                        Campo06 = f.ExpRouFase.ToString(),
                        Campo07 = f.ExpRouOper.ToString(),
                        Campo08 = f.ExpRouTime.ToString(),
                        Campo09 = f.ExpRouTunit.ToString(),
                        Campo10 = f.WCCode.ToString(),
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }
}

<div class=" clearfix position-relative o_form_sheet center">

@Html.Partial("_pmenuMat_com")
@using (Html.BeginForm()) {
    @Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
    <div class="Visible">
    @*<h2>B.O.M. of @Model.MatDescr</h2>*@
    @*<table class="table-norm" border ="1">*@

        <table class="table-edit" border="1">
            <div class="cont-titles">
                <h3 class="style-data">@SharedLocalizer.GetLocalizedHtmlString("B.O.M.") @Model.MatDescr</h3>
            </div>
            <div  class="_container" name="aqui-el-control-grid-3">
                @Html.dataGrid(28,9,@Columns("MatBom"),@getData_MatBom((List<TExplosionB>)ViewBag.ListMatBom),@Controller("MatBom"),@Fields("MatBom"),Model.MatId,"",false,false)  @*"/33?panel=4"*@
            </div>
        </table>


        @*@Html.Partial("_pListMatBom",(List<TExplosionB>)ViewBag.ListMatBom)*@
    @*</table>*@
    </div>
    @*@Html.Partial("_pmenuMatCo",Model)*@
}
</div>