@*@{Layout = "_LyIndex";}*@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @*@Html.HiddenFor(p => p.MatId)*@
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowMaterials_parc",(TMaterial)ViewBag.Material)
    </table>
    </div>
    <div class="cont-titles">
    <h3>@SharedLocalizer.GetLocalizedHtmlString("ComponentsOf") @Model.MatDescr</h3>
    <table class="table-norm" border ="1">
        @Html.Partial("_pListMatComponents",(List<VTMComponent>)ViewBag.ListMatComp)
    </table>
    </div>
    @Html.Partial("_pmenuMatCo",Model)
}
