@*@{Layout = "_LyIndex";}*@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@using MyErp.Extensions;
@inject LocService SharedLocalizer
@functions {
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "MatImp":
                retur[0]="TEngine";
                retur[1]="";        //No edit MatEdit
                retur[2]="";        //No create
                retur[3]="";        //no delete
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "MatImp":
                retur.Add(addLine("ExpId","false"));
                retur.Add(addLine("ExpsLevel","false"));
                retur.Add(addLine("ExpRefer","false"));
                retur.Add(addLine("ExpDescr","true"));
                retur.Add(addLine("ExpCoef","false"));
                retur.Add(addLine("ExpUm","false"));
                retur.Add(addLine("ExpRouFase","false"));
                retur.Add(addLine("ExpRouOper","false"));
                retur.Add(addLine("ExpRouTime","false"));
                retur.Add(addLine("ExpRouTunit","false"));
                break;
            default:
                break;
        }
        return retur;
    }
    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "MatImp":
                    retur.Add("MatImp");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Level"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Refer"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Decsr<"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Coef"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UM"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Fase"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Oper"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Time"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UnitT"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_MatImp(dynamic oTMaterial)
        {
            IEnumerable<TExplosionB> fTPersonal = (List<TExplosionB>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.ExpId,
                        Campo01 = f.ExpsLevel.ToString(),
                        Campo02 = f.ExpRefer.ToString(),
                        Campo03 = f.ExpDescr.ToString(),
                        Campo04 = f.ExpCoef.ToString(),
                        Campo05 = f.ExpUm.ToString(),
                        Campo06 = f.ExpRouFase.ToString(),
                        Campo07 = f.ExpRouOper.ToString(),
                        Campo08 = f.ExpRouTime.ToString(),
                        Campo09 = f.ExpRouTunit.ToString(),
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }
}
<div class=" clearfix position-relative o_form_sheet center">

@Html.Partial("_pmenuMat_com")
@using (Html.BeginForm()) {
    @Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
    <div class="Visible">
    @*<h2>B.O.M. of @Model.MatDescr</h2>*@
    @*<table class="table-norm" border ="1">*@

        <table class="table-edit" border="1">
            <div class="cont-titles">
                <h3 class="style-data">@SharedLocalizer.GetLocalizedHtmlString("Implosio_BOM") @Model.MatDescr</h3>
            </div>
            <div  class="_container" name="aqui-el-control-grid-3">
                @Html.dataGrid(29,9,@Columns("MatImp"),@getData_MatImp((List<TExplosionB>)ViewBag.ListMatImp),@Controller("MatImp"),@Fields("MatImp"),Model.MatId,"",false,false)
            </div>
        </table>


        @*@Html.Partial("_pListMatBom",(List<TExplosionB>)ViewBag.ListMatBom)*@
    @*</table>*@
    </div>
    @*@Html.Partial("_pmenuMatCo",Model)*@
}


@*
@_@{Layout = "_LyIndex";}_@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @_Html.HiddenFor(p => p.MatId)_@
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowMaterials_parc",(TMaterial)ViewBag.Material)
    </table>
    </div>
    <div class="cont-titles">
    <h2>Implosion of @Model.MatDescr</h2>
    <table class="table-norm" border ="1">
        @Html.Partial("_pListMatImp",(List<TExplosionB>)ViewBag.ListMatImp)
    </table>
    </div>
    @Html.Partial("_pmenuMatCo",Model)
}
*@
</div>
