@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@using MyErp.Extensions;
@inject LocService SharedLocalizer

@functions {
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "MatLocal":
                retur[0]="TEngine";
                retur[1]="LMatEdit";
                retur[2]="LMatCreate";
                retur[3]="LMatDelete";
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "MatLocal":
                retur.Add(addLine("LoLoId","false"));
                retur.Add(addLine("LoLocCode","false"));
                retur.Add(addLine("LoLocDescr","true"));
                retur.Add(addLine("LoRefSt","false"));
                retur.Add(addLine("LoRefUM","false"));
                break;
            default:
                break;
        }
        return retur;
    }
    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "MatLocal":
                    retur.Add("MatRoute");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Code"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Descr"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Stock"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UMed"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_MatLocal(dynamic oTMaterial)
        {
            IEnumerable<VTMLocation> fTPersonal = (List<VTMLocation>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.LoLoId,
                        Campo01 = f.LoLocCode.ToString(),
                        Campo02 = f.LoLocDescr.ToString(),
                        Campo03 = f.LoRefSt.ToString(),
                        Campo04 = f.LoRefUM.ToString(),
                        Campo05 = "",
                        Campo06 = "",
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }

}
<div class=" clearfix position-relative o_form_sheet center">

@Html.Partial("_pmenuMat_com")
@Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
@using (Html.BeginForm()) {
    <div class="Visible">
    @*<h3>@SharedLocalizer.GetLocalizedHtmlString("ComponentsOf") @Model.MatDescr</h3>*@
    @*<table class="table-norm" border ="1">*@

        <table class="table-edit" border="1">
            <div class="cont-titles">
                <h3 class="style-data">@SharedLocalizer.GetLocalizedHtmlString("StorageLocOf") @Model.MatDescr</h3>
            </div>
            <div  class="_container" name="aqui-el-control-grid-3">
                @Html.dataGrid(31,9,@Columns("MatLocal"),@getData_MatLocal((List<VTMLocation>)ViewBag.ListMatLoca),@Controller("MatLocal"),@Fields("MatLocal"),Model.MatId)
            </div>
        </table>
        @*@Html.Partial("_pListMatComponents",(List<VTMComponent>)ViewBag.ListMatComp)*@
    @*</table>*@
    </div>
    @*@Html.Partial("_pmenuMatCo",Model)*@
}



@*
@_@{Layout = "_LyIndex";}_@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @_@Html.HiddenFor(p => p.MatId)_@
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowMaterials_parc",(TMaterial)ViewBag.Material)
    </table>
    </div>
    <div class="cont-titles">
    <h2>Locations of @Model.MatDescr</h2>
    <table class="table-norm" border ="1">
        @Html.Partial("_pListMatLocations",(List<VTMLocation>)ViewBag.ListMatLoca)
    </table>
    </div>
    @Html.Partial("_pmenuMatLo",Model)
}
*@
</div>