@*@{Layout = "_LyIndex";}*@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@using MyErp.Extensions;
@inject LocService SharedLocalizer

@functions {
    string [] Controller(string table){
        string [] retur = new string [4];
        switch (table)
        {
        case "MatRoute":
                retur[0]="TEngine";
                retur[1]="RMatEdit";
                retur[2]="RMatCreate";
                retur[3]="RMatDelete";
                break;
        default:
            break;
        }
        return retur;
    }
    List<string> addLine(string field, string ledit){
        List<string> retLin = new List<string>();
        retLin.Add(field);
        retLin.Add(ledit);
        return retLin;
    }
    List<List<string>>  Fields(string table){
        List<List<string>> retur = new List<List<string>>();
        switch (table)
        {
            case "MatRoute":
                retur.Add(addLine("RoRoId","false"));
                retur.Add(addLine("CampoKy","false"));
                retur.Add(addLine("RoRoFase","false"));
                retur.Add(addLine("RoRoOper","true"));
                retur.Add(addLine("RoRoWCDe","false"));
                retur.Add(addLine("RoRoWunit","false"));
                retur.Add(addLine("RoRoWtime","false"));
                retur.Add(addLine("RoRoTunit","false"));
                break;
            default:
                break;
        }
        return retur;
    }
    List<string> Columns(string table){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "MatRoute":
                    retur.Add("MatRoute");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Fase"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Operation"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Descr"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("WUnit"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UnitT"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("TUnit"));
                break;
            default:
                break;
        }
        return retur;
    }
    IEnumerable<Container> getData_MatRoute(dynamic oTMaterial)
        {
            IEnumerable<VTMRouting> fTPersonal = (List<VTMRouting>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.RoRoId,
                        CampoKy = f.RoRoId,
                        Campo01 = f.RoRoFase.ToString(),
                        Campo02 = f.RoRoOper.ToString(),
                        Campo03 = f.RoRoWCDe.ToString(),
                        Campo04 = f.RoRoWunit.ToString(),
                        Campo05 = f.RoRoWtime.ToString(),
                        Campo06 = f.RoRoTunit.ToString(),
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }

}
<div class=" clearfix position-relative o_form_sheet center">

@Html.Partial("_pmenuMat_com")
@Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
@using (Html.BeginForm()) {
    <div class="Visible">
    @*<h3>@SharedLocalizer.GetLocalizedHtmlString("ComponentsOf") @Model.MatDescr</h3>*@
    @*<table class="table-norm" border ="1">*@

        <table class="table-edit" border="1">
            <div class="cont-titles">
                <h3 class="style-data">@SharedLocalizer.GetLocalizedHtmlString("RouteOf") @Model.MatDescr</h3>
            </div>
            <div  class="_container" name="aqui-el-control-grid-3">
                @Html.dataGrid(30,9,@Columns("MatRoute"),@getData_MatRoute((List<VTMRouting>)ViewBag.ListMatRou),@Controller("MatRoute"),@Fields("MatRoute"),Model.MatId)
            </div>
        </table>
        @*@Html.Partial("_pListMatComponents",(List<VTMComponent>)ViewBag.ListMatComp)*@
    @*</table>*@
    </div>
    @*@Html.Partial("_pmenuMatCo",Model)*@
}



    @*
    @_@{Layout = "_LyIndex";}_@

@using MyErp.Models
@model TMaterial
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("MatEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @_@Html.HiddenFor(p => p.MatId)_@
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowMaterials_parc",(TMaterial)ViewBag.Material)
    </table>
    </div>
    <div class="cont-titles">
    <h2>Routing of @Model.MatDescr</h2>
    <table class="table-norm" border ="1">
        @Html.Partial("_pListMatRou",(List<VTMRouting>)ViewBag.ListMatRou)
    </table>
    </div>
    @Html.Partial("_pmenuMatRo",Model)
}
*@
</div>