@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model VTMRouting
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
}
@{ViewData["MatId"]=@Model.RoRoMatId;}
@Html.Partial("_pmenuMat_com")
@Html.Partial("_pshowMaterials_parc_com",(TMaterial)ViewBag.Material)
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("OperEdit")</h3>
</div>
@using (Html.BeginForm(new{Mid = Model.RoRoMatId})) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
         <tr>
            <td><input type="submit" class="dropbnt" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowRMaterials",Model)
    </table>
    </div>
}