@*@{Layout = "_LyIndex";}*@
@using MyErp.Models
@model TCTrSched
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["vpanel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
string assVisible()
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==1)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
    int Truck(){
        int  retu = 0;
        try{retu =(int)ViewData["truck"];}catch{}
        return retu;
    }
}
<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("TruckScheduleEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.TrScId)
    @Html.HiddenFor(p => p.TrScTruckId)
    @Html.ValidationSummary(true)
    <table class="table-edit">
        <input type="hidden" id = "TrScTruck" name = "TrScTruck" value ="@Truck()">
        <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowSTrucks",Model)
    </table>
    </div>

}