@{Layout = "_LyIndex";}
@using MyErp.Models
@model TWorkCenter
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    string isVisibleM(int panel){
        string retcol="";
        int opanel = (int)ViewData["panem"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }

string assVisible(int panel)
{
    string retcol="invisible";
    try{
    if ((int)ViewData["Assign"]==panel)
    {retcol="visible";}
    }
    catch{}
    return retcol;
 }
private int VAssign(){
    int resul = 0;
    try{
    resul=(int)ViewData["Assign"];
    }
    catch{}
    return resul;

}
}

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("WCEdit")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="visible">
    @Html.HiddenFor(p => p.WcdId)
    @Html.ValidationSummary(true)
    <table class="table-norm" border ="1">
        @Html.Partial("_pshowWorkCenters",Model)
         <tr>
            <td><input type="submit" value="Update"  name="actionType"/></td>
            <td><input type="submit" value="Cancel" name="actionType"/></td>
        </tr>
    </table>
    </div>
@Html.Partial("_pmenuWCe",Model)


<div class=@isVisibleM(1)>
<!--Work Center's components-->
<div class=visible>
    <table class="table-norm" border="1">
        <div class="cont-titles">
        <h3>@SharedLocalizer.GetLocalizedHtmlString("WCCoAssigned")</h3>
        </div>
   '     @Html.Partial("_pListaWCComponents",(List<TWccomponent>)ViewBag.ListPodAs)'
    </table>
    @Html.ActionLink("Assig a new Component", "WCeEdit", new { id= @Model.WcdId, wrem = 0,panem=1, wass=0,assign=1})
</div>
<div class=@assVisible(1)>
    <table>
        <tr>
            @using (Html.BeginForm("WCeEdit","TEngine", new { id= @Model.WcdId, wrem = 0, panem=1,wass=1,assign =1},FormMethod.Post)) {        
            <td>@SharedLocalizer.GetLocalizedHtmlString("WCToAssign")
            <input type="hidden" name="wass" value="1"/>
            </td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("WcoId", (SelectList)ViewBag.ddlPodNAS, new { @class ="medium-text" , onchange = "this.form.submit();" })
            </td>
            }
        </tr>
    </table>
</div>
</div>

<div class=@isVisibleM(2)>
<!--Operators-->
<div class=visible>
    <table class="table-norm" border="1">
        <div class="cont-titles">
        <h3>>@SharedLocalizer.GetLocalizedHtmlString("WCOperAssined")</h3>
        </div>
        @Html.Partial("_pListaWCOperators",(List<VTWOperator>)ViewBag.ListOpdAs)
    </table>
    @Html.ActionLink("Assig a new Component", "WCeEdit", new { id= @Model.WcdId, wrem = 0,panem=2, wass=0,assign=2})
</div>
<div class=@assVisible(2)>
    <table>
        @*@using (Html.BeginForm("WCeEdit","TEngine", new { id= @Model.WcdId, wrem = 0, panem=2,wass=1,assign =2},FormMethod.Post)) {        
            *@
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("WCOperToAssign")
            <input type="hidden" name="wass" value="1"/>
            </td>
            <td class="norm-text">
                <!--@ViewData["Plant"]-->
                @Html.DropDownList("OpeId", (SelectList)ViewBag.ddlPodOPS, new { @class ="medium-text" })
            </td>
        </tr>
        <tr>
            <td>@SharedLocalizer.GetLocalizedHtmlString("WCNumberOperators")</td>
            <td>            
                <input type="text" name="opnum" value="1"/>
            </td>
         <tr>
            
            <td><input type="submit" value="OK"  name="actionType"/></td>
            <td><input type="submit" value="Cancel_" name="actionType"/></td>
            
        </tr>
        </tr>
        @*}*@
    </table>
</div>
</div>

}