@using MyErp.Models
@using System.Linq;
@using Microsoft.AspNetCore.Mvc.Localization

@using MyErp.Resources
@inject LocService SharedLocalizer
@*@model TPerson*@
@{
    Layout=null;
    Layout="~/Views/Shared/_Layout.cshtml";
}

@*
@functions {
    @_
    string isGrid()
    {
        string ret="Nada";
        try{
            ret = ViewData["IdGrid"].ToString();
        }
        catch{}
        return ret;
    }
    string isFilter()
    {
        string ret="";
        try{
            ret = ViewData["Filter"].ToString();
        }
        catch{}
        return ret;

    }

    string isSort()
    {
        string ret="";
        try{
            ret = ViewData["Sort"].ToString();
        }
        catch{}
        return ret;

    }
    _@
    string panelBold(int panel)
    {      
        int tpan=0;  
        try{    
        tpan = (int)ViewData["panel"];
        }
        catch{}
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    string panelSel(int panel)
    {      
        int tpan=0;  
        try{    
        tpan = (int)ViewData["panel"];
        }
        catch{}
        string csel ="false";
        if (panel==tpan)
        {csel="true";}
        return csel;
    }
    string navClass(int panel)
    {
        int tpan=0;
        try{
            tpan=(int)ViewData["panel"];
        }
        catch{}
        string navcl="nav-link";
        if (panel==tpan)
        {navcl="nav-link active"; }
        return navcl;
        
    }
    string isVisible(int panel){
        string retcol="";
        int opanel =0;
        try{
        opanel = (int)ViewData["panel"];
        }
        catch{}
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    int thisPanel(){
        int opanel =0;
        try{
         opanel = (int)ViewData["panel"];
        }
        catch{}
         return opanel;
    }
    int ModelPerId()
    {
        int pid =0;
        try{
        pid= (int)ViewData["PerId"];//0;//@Model.PerId;
        }
        catch{}
        return pid;
    }

    string dName()
    {
        string dname= (string)ViewData["dName"];//0;//@Model.PerId;
        return dname;
    }

}
*@
@functions {
    string navClass(int panel)
    {
        int tpan=0;
        try{
            tpan=(int)ViewData["panel"];
        }
        catch{}
        string navcl="nav-link";
        if (panel==tpan)
        {navcl="nav-link active"; }
        return navcl;
        
    }
    string panelBold(int panel)
    {            
        int tpan = 1;
        try{
            tpan=(int)ViewData["panel"];
        }
        catch{}
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }

    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    int thisPanel(){
         int opanel =1;
         try{
            opanel=  (int)ViewData["panel"];
         }
         catch{}
         return opanel;
    }
    int ModelSupId()
    {
        int pid =0;
        try{
        pid= (int)ViewData["SupId"];//0;//@Model.PerId;
        }
        catch{}
        return pid;
    }

    string sName()
    {
        string dname= (string)ViewData["sName"];//0;//@Model.PerId;
        return dname;
    }

}

@section Styles
{

}

<h3 class ="style-h3">@SharedLocalizer.GetLocalizedHtmlString("EditSuplier")</h3>
@using (Html.BeginForm()) {
    @Html.ValidationSummary(true)
    <table>
        <div>  @*class="cont-titles-l"*@
            <h4 class = "style-h4">@sName()</h4>
    	    <ul class="nav nav-tab">
	    	    <li class="nav-item">
                    <a class="nav-link"  role="tab" disable_anchor="true" style="@panelBold(0)" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="@thisPanel()" asp-route-move="1">@SharedLocalizer.GetLocalizedHtmlString("<<Prev")</a>
		        </li>
		        <li class="nav-item">
                    <a class="nav-link"  role="tab" style="@panelBold(0)" disable_anchor="true" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="@thisPanel()" asp-route-move="2" >@SharedLocalizer.GetLocalizedHtmlString("Next>>")</a>
		        </li>
		        <li class="nav-item">
                    <a class="nav-link"  role="tab" disable_anchor="true" asp-area="" asp-controller="TSuplier" asp-action="" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="@thisPanel()" asp-route-move="2" >@SharedLocalizer.GetLocalizedHtmlString("Home")</a>
		        </li>
            </ul>
        </div>
        @*asp-route-sortExpression="@isSort()" asp-route-filterExpression="@isFilter()"  asp-route-idgrid ="@isGrid()"*@
        <div>
	        <ul class="nav nav-tab">
		        <li class="nav-item">
                    <a class="@navClass(1)" role="tab" disable_anchor="true" style="@panelBold(1)" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="1" asp-route-move="0" >@SharedLocalizer.GetLocalizedHtmlString("Suplier")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(2)"  role="tab" disable_anchor="true" style="@panelBold(2)" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="2" asp-route-move="0" >@SharedLocalizer.GetLocalizedHtmlString("Products")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(4)"  role="tab" disable_anchor="true" style="@panelBold(4)" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="4" asp-route-move="0" >@SharedLocalizer.GetLocalizedHtmlString("Orders")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(3)"  role="tab" disable_anchor="true" style="@panelBold(3)" asp-area="" asp-controller="TSuplier" asp-action="Edit" asp-route-id="@ModelSupId()" asp-route-perid="@ModelSupId()" asp-route-panel="3" asp-route-move="0" >@SharedLocalizer.GetLocalizedHtmlString("Planning")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(5)"  role="tab" disable_anchor="true" style="@panelBold(0)" asp-area="" asp-controller="TSuplier" asp-action="Index" >@SharedLocalizer.GetLocalizedHtmlString("Suppliers")</a>
		        </li>
	        </ul>
        </div>
    </table>
    @RenderBody()
}




