@using MyErp.Models
@model TSPlanning
@using MyErp.Resources
@inject LocService SharedLocalizer

@functions {
    int SupId(){
        return ((TSuplier)ViewBag.Suplier).SupId;
    }
}

<div class="cont-titles">
<h3>@SharedLocalizer.GetLocalizedHtmlString("AddPlanningRecord")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit" >
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.PlanProdId,new { @class = "norm-lab-text",})</td>
            <td>
                @Html.DropDownListFor(p=> p.PlanProdId,ViewBag.ddlReferVB as SelectList ,null,new { @class = "norm-tb-text" })
            </td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PlanProdId)</td>
        </tr>
        <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">
        <tr>
            <td>@Html.LabelFor(p => p.PlanDateFrom,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.PlanDateFrom, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PlanDateFrom)</td>
        </tr>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.PlanDateTo,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.PlanDateTo, new { htmlAttributes = new { @class = "norm-tb-text" } })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PlanDateTo)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.PlanQty,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.PlanQty, new { htmlAttributes = new { @class = "norm-tb-num", @style = "width:170px" } })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PlanQty)</td>
        </tr>        
        <tr>
            <td>@Html.LabelFor(p => p.PlanFirmSt,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.PlanFirmSt, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:120px" } })</td>
        </tr>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.PlanFirmSt)</td>
            <input type="hidden" name="PlanSupId" value="@(((TSuplier)ViewBag.Suplier).SupId)"/>
        </tr>        
        </table>
    </table>
    </div>
}