@using MyErp.Models
@model TSPorder
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    int? Planta(){
        int? retcol = (int?)ViewData["Plant"];
        return retcol;
    }
}
@{
    Layout = "_LaySup";
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("AddPORecord")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.ValidationSummary(true)
    <div class ="invisible">
        <tr>
            <input type="hidden" name="SposupId" value="@(((TSuplier)ViewBag.Suplier).SupId)"/>
            <td>@SharedLocalizer.GetLocalizedHtmlString("Suplier"):</td>
            <td>@(((TSuplier)ViewBag.Suplier).SupRasoc)</td>
        </tr>
    </div>
    <table class="table-edit">
        <hr style="width:100%;text-align:left;margin-left:0">        
        <tr>
            <td><input type="submit" class="dropbtn" value="Add"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowspo",Model)
    </table>
    </div>
}
