@using MyErp.Models
@model TSProduct
@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout = "_LaySup";
}
<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("EditProdRecord")</h3>
</div>
@using (Html.BeginForm()) {
    <div class="div-edit">
    @Html.HiddenFor(p => p.ProdId)
    @Html.HiddenFor(p => p.ProdSupId)
    @Html.ValidationSummary(true)
    <table class="table-edit" >
        <hr style="width:100%;text-align:left;margin-left:0">
         <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>

        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ProdRefer,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ProdRefer, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:220px" } })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ProdRefer)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ProdDescr,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ProdDescr, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:420px" } })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ProdDescr)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ProdCrDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ProdCrDate, new { htmlAttributes = new { @class = "norm-tb-text" } })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ProdCrDate)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ProdStatus,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ProdStatus, new { htmlAttributes = new { @class = "norm-tb-text", @style = "width:120px" } })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ProdStatus)</td>
        </tr>
        <tr>
            <td>@Html.LabelFor(p => p.ProdStDate,new { @class = "norm-lab-text",})</td>
            <td>@Html.EditorFor(p => p.ProdStDate, new { htmlAttributes = new { @class = "norm-tb-text"} })</td>
        <tr>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.ProdStDate)</td>
            <input type="hidden" name="ProdSupId" value="@(((TSuplier)ViewBag.Suplier).SupId)"/>
        </tr>
    </table>
    </div>
}