@using MyErp.Models
@model TInputBLH
@using MyErp.Extensions;
@using MyErp.Resources
@inject LocService SharedLocalizer
@functions {
    string Visible(string Status)
    {
        string ret = "invisible";
        if (Status=="PR" || Status=="QA"|| Status=="IN"){ret="visible";}
        return ret;
    }
    string PostAction(string Status){
        string ret = "";
        switch(Status)
        {
            case "PR":
                ret ="PostBL";
                break;
            case "QA":
                ret ="Accept";
                break;
            case "IN":
                ret="Invoice";
                break;
            default:
                break;
        }
        return ret;
    }
    string hVisible(string Status)
    {
        string ret = "visibility:hidden;";
        if (Status=="PR" || Status=="QA"|| Status=="IN"){ret="visibility:visible;";}
        return ret;    }

    string [] Controller(string table, string Status){
        string [] retur = new string [4];
        switch (table)
        {
        case "InputBLD":
            if (Status=="PR"){
                retur[0]="TLog";
                retur[1]="BLDEdit";
                retur[2]="BLDCreate";
                retur[3]="BLDDelete";
            }
            else{
                retur[0]="TLog";
                retur[1]="";
                retur[2]="";
                retur[3]="";
            }
            break;
        default:
            break;
        }
        return retur;
    }
    List<string> Columns(string table,int type){
        List<string> retur = new List<string>();
        switch (table)
        {
            case "InputBLD":
                if (type==0)
                {
                    retur.Add("InputBLD");
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Refer"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Descr"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("Qty"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UMed"));
                    retur.Add(@SharedLocalizer.GetLocalizedHtmlString("UM"));
                }
                else{
                    retur.Add("InBLDId");
                    retur.Add("InBLDMRefer");
                    retur.Add("InBLDMDescr");
                    retur.Add("InBLDQty");
                    retur.Add("InBLDMatUnMed");
                    retur.Add("InBLDUMRef");
                }
                break;
            default:
                break;
        }
        return retur;
    }

    IEnumerable<Container> getData_InputBLD(dynamic oTMaterial)
        {
            IEnumerable<VTBLDet> fTPersonal = (List<VTBLDet>)oTMaterial;
            IEnumerable<Container> TPersonal = fTPersonal.Select(
                f => new Container() 
                {
                        CampoId = f.InBLDId,
                        Campo01 = f.InBLDMRefer.ToString(),
                        Campo02 = f.InBLDMDescr.ToString(),
                        Campo03 = f.InBLDQty.ToString(),
                        Campo04 = f.InBLDMatUnMed.ToString(),
                        Campo05 = (f.InBLDUMRef ??"").ToString(),
                        Campo06 = "", 
                        Campo07 = "",
                        Campo08 = "",
                        Campo09 = "",
                        Campo10 = "",
                        Campo11 = "",
                        Campo12 = "",
                        Campo13 = "",
                        Campo14 = "",
                        Campo15 = ""
                });
            return TPersonal;
        }


}
<div class=" clearfix position-relative o_form_sheet center">

<div class="style-data">
<h3>@SharedLocalizer.GetLocalizedHtmlString("IBLHeadEdit")</h3>
</div>
@using (Html.BeginForm()) {
   <div class="div-edit">
    @Html.ValidationSummary(true)
    <table class="table-edit">
         <tr>
            <td><input type="submit" class="dropbtn" value="Update"  name="actionType"/></td>
            <td><input type="submit" class="dropbtn" value="Cancel" name="actionType"/></td>
            <td style="@hVisible(Model.InBLStatus)"><input type="submit" class="dropbtn" value="@PostAction(Model.InBLStatus)"  name="actionType"/></td>
        </tr>
        @Html.Partial("_pshowBLH",Model)
    </table>
    </div>
    <table class="table-norm" border="1">
        <div class="cont-titles">
            <h3>@SharedLocalizer.GetLocalizedHtmlString("BLDetail")</h3>
        </div>
        @Html.dataGrid(43,9,@Columns("InputBLD",0),@getData_InputBLD((List<VTBLDet>)ViewBag.ListBLDet),@Controller("InputBLD",Model.InBLStatus),@Columns("InputBLD",1),Model.InBLId)
    </table>
}
</div>
