@using MyErp.Resources
@inject LocService SharedLocalizer
@{
    Layout=null;
    Layout="~/Views/Shared/_Layout.cshtml";
}

@{
    ViewData["Title"] = "MRP Area Index Page";
}
@functions {
    string panelBold(int panel)
    {          
        int tpan = (int)ViewData["panel"];
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    int thisPanel(){
         int opanel = (int)ViewData["panel"];
         return opanel;
    }

    string myformat(double? value){
    string ret =string.Format("{0:C2}", value);
    return ret;
}
    string mycolor(double? value){
    string retcol="red-number";
    if (value >=0 ){
        retcol="blue-number";}
    return retcol;
    }
    string colcolor(int item){
    string retcol="col-text";
    if (item==0)
    {
        retcol="botcol-text";
    }
    return retcol;
    }
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    string fValue (int valor){
        string ret1="";
        if (valor ==1){
        try{
            ret1 = (string)ViewData["Fil1"];
        }
        catch{}
        }
        else{
        try{
            ret1 = (string)ViewData["Fil2"];
        }
        catch{}
        }
        return ret1;
    }
    string navClass(int panel)
    {
        int tpan=0;
        try{
            tpan=(int)ViewData["panel"];
        }
        catch{}
        string navcl="nav-link";
        if (panel==tpan)
        {navcl="nav-link active"; }
        return navcl;
        
    }
    DateTime getDate(int date)
    {
        System.DateTime ret = System.DateTime.Now;
        if (date==1){
            try{
                ret = Convert.ToDateTime(ViewData["F1"].ToString());
            }
            catch{}
        }
        if (date==2){
            try{
                ret = Convert.ToDateTime(ViewData["F2"].ToString());
            }
            catch{}
        }
        return ret;
        }

    }

@section Styles
{

}


<div class="visible">
@*<h3 class ="style-h3">@SharedLocalizer.GetLocalizedHtmlString("MRPAreaIndexPage")</h3>*@

    @using (Html.BeginForm()) {
    <table>
        <div class="cont-titles-l">
        @*<h2>>>@Html.DisplayFor(p => p.CustRaSoc)  @Html.DisplayFor(p => p.CustNif)</h2> *@
        </div>


        <div>
	        <ul class="nav nav-tab">
		        <li class="nav-item">
                    <a class="@navClass(1)" role="tab" disable_anchor="true"  asp-area="" asp-controller="TMRP" asp-action="Capacity" asp-route-F1=@getDate(1) asp-route-F2=@getDate(2) asp-route-panel="1" asp-route-panel1="1">@SharedLocalizer.GetLocalizedHtmlString("CustPlan")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(2)" role="tab" disable_anchor="true"  asp-area="" asp-controller="TMRP" asp-action="Capacity" asp-route-F1=@getDate(1)  asp-route-F2=@getDate(2) asp-route-panel="2" asp-route-panel1="1">@SharedLocalizer.GetLocalizedHtmlString("MatReq")</a>
		        </li>
		        <li class="nav-item">
                    <a class="@navClass(3)" role="tab" disable_anchor="true"  asp-area="" asp-controller="TMRP" asp-action="Capacity" asp-route-F1=@getDate(1)  asp-route-F2=@getDate(2) asp-route-panel="3" asp-route-panel1="1">@SharedLocalizer.GetLocalizedHtmlString("WCLoad")</a>
		        </li>
	        </ul>
        </div>
    </table>
    
@RenderBody()
}
</div>

