@{Layout = "_Layout";}

@{
    ViewData["Title"] = "MRP Area Index Page";
}
@functions {
    string panelBold(int panel)
    {          
        int tpan = (int)ViewData["panel"];
        string cstyle ="";
        if (panel==tpan)
        {cstyle="font-weight:bold";}
        return cstyle;
    }
    int thisPanel(){
         int opanel = (int)ViewData["panel"];
         return opanel;
    }

    string myformat(double? value){
    string ret =string.Format("{0:C2}", value);
    return ret;
}
    string mycolor(double? value){
    string retcol="red-number";
    if (value >=0 ){
        retcol="blue-number";}
    return retcol;
    }
    string colcolor(int item){
    string retcol="col-text";
    if (item==0)
    {
        retcol="botcol-text";
    }
    return retcol;
    }
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
    string fValue (int valor){
        string ret1="";
        if (valor ==1){
        try{
            ret1 = (string)ViewData["Fil1"];
        }
        catch{}
        }
        else{
        try{
            ret1 = (string)ViewData["Fil2"];
        }
        catch{}
        }
        return ret1;
    }
}
@section Styles
{

}

<h2>@ViewData["Title"]</h2>

<div class="visible">
    @using (Html.BeginForm()) {
    <table>
        <div class="cont-titles-l">
        </div>
        <table>
        <nav class="navbar navbar-expand-sm navbar-toggleable-sm navbar-light bg-white border-bottom box-shadow mb-3">
            <div class="container">
                <div class="navbar-collapse collapse d-sm-inline-flex flex-sm-row-reverse">
                    <ul class="navbar-nav flex-grow-1">
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(1)" asp-area="" asp-controller="TMRP" asp-action="Capacity" asp-route-id="" asp-route-panel="1" asp-route-panel1="1">Capacity</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(2)"asp-area="" asp-controller="TMRP" asp-action="MRP" asp-route-id="" asp-route-panel="2" asp-route-panel1="2" asp-route-move="0">MRP</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(3)"asp-area="" asp-controller="TMRP" asp-action="Index" asp-route-id="" asp-route-panel="3" asp-route-move="0">Production Orders</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(4)" asp-area="" asp-controller="TMRP" asp-action="Index" asp-route-id="" asp-route-panel="4" asp-route-move="0">Supliers Planning</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(5)" asp-area="" asp-controller="TMRP" asp-action="Index" asp-route-id="" asp-route-panel="5" asp-route-move="0">------</a>
                         </li>
                        <li class="nav-item">
                           <a class="nav-link text-dark" style="@panelBold(6)" asp-area="" asp-controller="TMRP" asp-action="Index" asp-route-id="" asp-route-panel="6" asp-route-move="0">------</a>
                         </li>
                    </ul>
                </div>
            </div>
        </nav>
        </table>
    </table>
    
@RenderBody()
}
</div>
