@model VCCplanning
@functions {
    string isVisible(int panel){
        string retcol="";
        int opanel = (int)ViewData["panel1"];
        if (opanel==panel){retcol="visible";}
        else{retcol="invisible";}
        return retcol;
    }
}
<!-- Show planing records -->
@using (Html.BeginForm()) {
   <div class="visible">
    @Html.ValidationSummary(true)
    <table>
        <tr>
            <td>@Html.LabelFor(p => p.CplanDateFrom,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplanDateFrom, new { htmlAttributes = new { @class = "norm-text", @style = "width:200px" } })</td>
            <td>@Html.LabelFor(p => p.CplanDateTo,new { @class = "norm-text",})</td>
            <td>@Html.EditorFor(p => p.CplanDateTo, new { htmlAttributes = new { @class = "norm-text", @style = "width:200px" } })</td>
            <td><input type="submit" value="Go"  name="actionType"/></td>
        </tr>
        <tr>
            <td>
                <input type="hidden" value="2"  name="panel1"/>
            </td>
            <td>
                @Html.ValidationMessageFor(p => p.CplanDateFrom)
            </td>
            <td></td>
            <td>@Html.ValidationMessageFor(p => p.CplanDateTo)</td>
    </table>
    </div>
}
<div class=@isVisible(1)>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Planning Data</h2>
    </div>
    <tr>
        <th class="head-text">Cust.Code</th> 
        <th class="head-text">Plant.Code</th>                
        <th class="head-text">Reference</th>        
        <th class="head-text">Description</th>        
        <th class="head-text">From</th>        
        <th class="head-text">To</th>        
        <th class="head-text">Qty</th>        
    </tr>
    @foreach ( VCCplanning  c in (List<VCCplanning>)ViewBag.ListCustPlan) {
        <tr>
            <td class ="col-text">@c.CplanCustCode</td>            
            <td class ="big-text">@c.CplanCplantCode</td>
            <td class ="norm-text">@c.CplanCprodRefInt</td>
            <td class ="norm-text">@c.CplanCprodDescInt</td>
            <td class ="norm-text">@c.CplanDateFrom</td>
            <td class ="norm-text">@c.CplanDateTo</td>
            <td class ="norm-text">@c.CplanQty</td>
            @*
            <td class="col-text">@Html.ActionLink("Delete", "FacDelete", new { id = c.FaId}, new { onclick="return confirm('Are you sure?');"})</td>
            <td class="col-text">@Html.ActionLink("Edit", "FacEdit", new { id = c.FaId ,panel=1,vpanel=1})</td>
            *@            
        </tr>
    }
    </table>
    @*
    @Html.ActionLink("Add a New Item", "FacCreate")
    
    @Html.ActionLink("Perform Capacity Analysis", "MRPcGo")
    *@
</div>

<!--Show Capacity results-->

<div class=@isVisible(2)>
    <table class="table-norm" border="1">
    <div class="cont-titles">
    <h2>>Requirements of Materials</h2>
    </div>
    <tr>
        <th class="head-text">Material</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Quantity</th>        
        <th class="head-text">U.M.</th>        
    </tr>
   
    @foreach ( TExpMater  c in (List<TExpMater>)ViewBag.ListMatExp) {
        <tr>
            <td class ="col-text">@c.MatRefer</td>            
            <td class ="big-text">@c.MatDescr</td>
            <td class ="norm-text">@c.TcomQty</td>
            <td class ="norm-text">@c.MatUnMed</td>
       
        </tr>
    }

    <tr>
        <th class="head-text">WorkCenter</th> 
        <th class="head-text">Description</th>                
        <th class="head-text">Occupation</th>        
    </tr>
   
    @foreach ( TExpOper  c in (List<TExpOper>)ViewBag.ListOpeExp) {
        <tr>
            <td class ="col-text">@c.Wccode</td>            
            <td class ="big-text">@c.Wcdescr</td>
            <td class ="norm-text">@c.OperTime</td>
        </tr>
    }
    </table>
    @Html.ActionLink("Return to Capacity Analysis", "Capacity",new{panel =1,panel1=1})
</div>
